In [126]:
import pandas as pd
from sqlalchemy import create_engine

In [127]:
csv_file ="usa_telemedicine2.csv"
usa_tele_covid_df= pd.read_csv(csv_file)
usa_tele_covid_df.head()

                 Region  telemedicine: (2019)
0  District of Columbia                   100
1          South Dakota                    83
2          North Dakota                    66
3              New York                    60
4         West Virginia                    56

In [128]:
#create new data with select columns

In [129]:
csv_file2 ="usa_telemedicinecovid19.csv"
usa_tele_covid19_df=pd.read_csv(csv_file2)
usa_tele_covid19_df.head()

                 Region  telemedicine: (3/1/20 - 5/26/20)
0  District of Columbia                               100
1                Alaska                                90
2            New Jersey                                84
3             Louisiana                                75
4              Delaware                                74

In [149]:
usa_tele_covid_cols = ["Region", "telemedicine: (2019)"]
usa_tele_covid_transformed = usa_tele_covid_df[usa_tele_covid_cols].copy()

usa_tele_covid_transformed= usa_tele_covid_transformed.rename(columns={"Region":'State',
                                                                      "telemedicine: (2019)":"Telemedicine 2019"})

usa_tele_covid_transformed.head()

                  State  Telemedicine 2019
0  District of Columbia                100
1          South Dakota                 83
2          North Dakota                 66
3              New York                 60
4         West Virginia                 56

In [150]:
usa_tele_covid19_cols = ["Region", "telemedicine: (3/1/20 - 5/26/20)"]
usa_tele_covid19_transformed = usa_tele_covid19_df[usa_tele_covid19_cols].copy()

usa_tele_covid19_transformed= usa_tele_covid19_transformed.rename(columns={"Region":"State",
                                                                  "telemedicine: (3/1/20 - 5/26/20)":"Telemedicine covid"})
usa_tele_covid19_transformed.head()

                  State  Telemedicine covid
0  District of Columbia                 100
1                Alaska                  90
2            New Jersey                  84
3             Louisiana                  75
4              Delaware                  74

In [153]:

mergedata=pd.merge(usa_tele_covid_transformed, usa_tele_covid19_transformed, on = "State", how="inner")

mergedata.head()

                  State  Telemedicine 2019  Telemedicine covid
0  District of Columbia                100                 100
1          South Dakota                 83                  66
2          North Dakota                 66                  42
3              New York                 60                  70
4         West Virginia                 56                  67

In [156]:
mergedata.to_csv("project2")

In [ ]:
connection_string = "postgres:Alake1991@localhost:5432/group_db"
engine = create_engine(f'postgresql://{connection_string}')

In [143]:
engine.table_names()

['region']